--
-- PostgreSQL database dump
--

\restrict npRDN5yhRUCkS02w92vfMaETeBDTO8dvruRMiqF6lcZv6STEri8PEDbLC4XGO1M

-- Dumped from database version 17.7
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.status_enum AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public.status_enum OWNER TO postgres;

--
-- Name: activate_entities_on_product(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.activate_entities_on_product() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  -- Activar SUPPLIER
  UPDATE supplier
  SET status = 'ACTIVE'
  WHERE id = NEW.id_supplier
    AND status <> 'ACTIVE';

  -- Activar BRAND
  UPDATE brand
  SET status = 'ACTIVE'
  WHERE id = NEW.id_brand
    AND status <> 'ACTIVE';

  -- Activar CATEGORY
  UPDATE category
  SET status = 'ACTIVE'
  WHERE id = NEW.id_category
    AND status <> 'ACTIVE';

  RETURN NEW;
END;
$$;


ALTER FUNCTION public.activate_entities_on_product() OWNER TO postgres;

--
-- Name: deactivate_entities_if_unused(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.deactivate_entities_if_unused() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  -- BRAND
  IF NOT EXISTS (
    SELECT 1 FROM product WHERE id_brand = OLD.id_brand
  ) THEN
    UPDATE brand SET status = 'INACTIVE' WHERE id = OLD.id_brand;
  END IF;

  -- CATEGORY
  IF NOT EXISTS (
    SELECT 1 FROM product WHERE id_category = OLD.id_category
  ) THEN
    UPDATE category SET status = 'INACTIVE' WHERE id = OLD.id_category;
  END IF;

  -- SUPPLIER
  IF NOT EXISTS (
    SELECT 1 FROM product WHERE id_supplier = OLD.id_supplier
  ) THEN
    UPDATE supplier SET status = 'INACTIVE' WHERE id = OLD.id_supplier;
  END IF;

  RETURN OLD;
END;
$$;


ALTER FUNCTION public.deactivate_entities_if_unused() OWNER TO postgres;

--
-- Name: prevent_duplicate_name(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.prevent_duplicate_name() RETURNS trigger
    LANGUAGE plpgsql
    AS $_$
DECLARE
  exists_name BOOLEAN;
BEGIN
   EXECUTE format(
    'SELECT EXISTS (
       SELECT 1 FROM %I
       WHERE LOWER(name) = LOWER($1)
     )',
    TG_TABLE_NAME
  )
  INTO exists_name
  USING NEW.name;

  IF exists_name THEN
    RAISE EXCEPTION
      'El nombre "%" ya existe en la tabla %',
      NEW.name,
      TG_TABLE_NAME
    USING ERRCODE = '23505';
  END IF;

  RETURN NEW;
END;
$_$;


ALTER FUNCTION public.prevent_duplicate_name() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: brand; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.brand (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    is_default boolean DEFAULT false NOT NULL,
    status public.status_enum DEFAULT 'INACTIVE'::public.status_enum NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.brand OWNER TO postgres;

--
-- Name: brand_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.brand_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.brand_id_seq OWNER TO postgres;

--
-- Name: brand_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.brand_id_seq OWNED BY public.brand.id;


--
-- Name: category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.category (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    is_default boolean DEFAULT false NOT NULL,
    status public.status_enum DEFAULT 'INACTIVE'::public.status_enum NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.category OWNER TO postgres;

--
-- Name: category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.category_id_seq OWNER TO postgres;

--
-- Name: category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.category_id_seq OWNED BY public.category.id;


--
-- Name: inventory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory (
    id bigint NOT NULL,
    id_location bigint NOT NULL,
    id_product bigint NOT NULL,
    id_lote bigint,
    stock integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT stock_stock_check CHECK ((stock >= 0))
);


ALTER TABLE public.inventory OWNER TO postgres;

--
-- Name: location; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.location (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    direction text,
    created_at timestamp without time zone DEFAULT now(),
    is_default boolean DEFAULT false NOT NULL
);


ALTER TABLE public.location OWNER TO postgres;

--
-- Name: location_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.location ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.location_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lote (
    id bigint NOT NULL,
    mfg_date date,
    expiration_date date,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT chk_lote_dates CHECK (((expiration_date IS NULL) OR (mfg_date IS NULL) OR (expiration_date > mfg_date)))
);


ALTER TABLE public.lote OWNER TO postgres;

--
-- Name: lote_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.lote ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.lote_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product (
    id integer NOT NULL,
    sku character varying(50) NOT NULL,
    id_supplier integer NOT NULL,
    id_brand integer NOT NULL,
    id_category integer NOT NULL,
    name character varying(150) NOT NULL,
    description text,
    unit_price numeric(10,2) NOT NULL,
    url text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.product OWNER TO postgres;

--
-- Name: product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stock_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.stock_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplier (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    is_default boolean DEFAULT false NOT NULL,
    status public.status_enum DEFAULT 'INACTIVE'::public.status_enum NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.supplier OWNER TO postgres;

--
-- Name: supplier_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.supplier_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.supplier_id_seq OWNER TO postgres;

--
-- Name: supplier_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.supplier_id_seq OWNED BY public.supplier.id;


--
-- Name: brand id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brand ALTER COLUMN id SET DEFAULT nextval('public.brand_id_seq'::regclass);


--
-- Name: category id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category ALTER COLUMN id SET DEFAULT nextval('public.category_id_seq'::regclass);


--
-- Name: supplier id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier ALTER COLUMN id SET DEFAULT nextval('public.supplier_id_seq'::regclass);


--
-- Data for Name: brand; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.brand (id, name, is_default, status, created_at) FROM stdin;
6	marca_A	f	ACTIVE	2025-12-27 12:35:01.887168-05
9	marca_B	f	ACTIVE	2025-12-27 12:43:52.401426-05
10	null	f	ACTIVE	2025-12-27 12:52:57.02667-05
3	Marca General	t	ACTIVE	2025-12-27 00:24:46.873156-05
11	gloria	f	ACTIVE	2025-12-30 12:51:31.842639-05
\.


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.category (id, name, is_default, status, created_at) FROM stdin;
3	categoria_A	f	ACTIVE	2025-12-27 12:35:01.89013-05
6	categoria_D	f	ACTIVE	2025-12-27 12:43:52.402862-05
7	null	f	ACTIVE	2025-12-27 12:52:57.028358-05
1	Category General	t	ACTIVE	2025-12-27 00:24:46.873156-05
8	Bebidas	f	ACTIVE	2025-12-30 12:51:31.846418-05
\.


--
-- Data for Name: inventory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventory (id, id_location, id_product, id_lote, stock, created_at) FROM stdin;
1	1	26	\N	0	2025-12-30 12:51:31.863395
2	1	27	\N	0	2025-12-30 12:52:44.403443
3	1	28	\N	0	2025-12-30 23:29:39.242986
\.


--
-- Data for Name: location; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.location (id, name, direction, created_at, is_default) FROM stdin;
1	tienda principal		2025-12-30 12:31:19.219944	t
\.


--
-- Data for Name: lote; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lote (id, mfg_date, expiration_date, created_at) FROM stdin;
\.


--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: supplier; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplier (id, name, is_default, status, created_at) FROM stdin;
1	Proveedor A	f	INACTIVE	2025-12-27 00:24:46.873156-05
12	proveedor_B	f	ACTIVE	2025-12-27 12:35:01.808196-05
15	proveedor_C	f	ACTIVE	2025-12-27 12:43:52.396585-05
16	null	f	ACTIVE	2025-12-27 12:52:56.997178-05
6	Proveedor General	t	ACTIVE	2025-12-27 00:24:46.873156-05
19	Representante_A	f	ACTIVE	2025-12-30 12:51:31.816651-05
\.


--
-- Name: brand_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.brand_id_seq', 13, true);


--
-- Name: category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.category_id_seq', 10, true);


--
-- Name: location_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.location_id_seq', 1, true);


--
-- Name: lote_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lote_id_seq', 1, false);


--
-- Name: product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_id_seq', 28, true);


--
-- Name: stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_id_seq', 3, true);


--
-- Name: supplier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplier_id_seq', 21, true);


--
-- Name: brand brand_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brand
    ADD CONSTRAINT brand_pkey PRIMARY KEY (id);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (id);


--
-- Name: location location_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.location
    ADD CONSTRAINT location_pkey PRIMARY KEY (id);


--
-- Name: lote lote_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lote
    ADD CONSTRAINT lote_pkey PRIMARY KEY (id);


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_pkey PRIMARY KEY (id);


--
-- Name: product product_sku_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_sku_key UNIQUE (sku);


--
-- Name: inventory stock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT stock_pkey PRIMARY KEY (id);


--
-- Name: supplier supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier
    ADD CONSTRAINT supplier_pkey PRIMARY KEY (id);


--
-- Name: product unique_sku; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT unique_sku UNIQUE (sku);


--
-- Name: inventory uq_stock_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT uq_stock_unique UNIQUE (id_location, id_product, id_lote);


--
-- Name: one_default_brand; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX one_default_brand ON public.brand USING btree (is_default) WHERE (is_default = true);


--
-- Name: one_default_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX one_default_category ON public.category USING btree (is_default) WHERE (is_default = true);


--
-- Name: one_default_supplier; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX one_default_supplier ON public.supplier USING btree (is_default) WHERE (is_default = true);


--
-- Name: product trg_activate_entities_on_product_insert; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_activate_entities_on_product_insert AFTER INSERT ON public.product FOR EACH ROW EXECUTE FUNCTION public.activate_entities_on_product();


--
-- Name: product trg_activate_entities_on_product_update; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_activate_entities_on_product_update AFTER UPDATE OF id_supplier, id_brand, id_category ON public.product FOR EACH ROW EXECUTE FUNCTION public.activate_entities_on_product();


--
-- Name: product trg_deactivate_entities_on_product_delete; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_deactivate_entities_on_product_delete AFTER DELETE ON public.product FOR EACH ROW EXECUTE FUNCTION public.deactivate_entities_if_unused();


--
-- Name: brand trg_prevent_duplicate_brand; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_prevent_duplicate_brand BEFORE INSERT ON public.brand FOR EACH ROW EXECUTE FUNCTION public.prevent_duplicate_name();


--
-- Name: category trg_prevent_duplicate_category; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_prevent_duplicate_category BEFORE INSERT ON public.category FOR EACH ROW EXECUTE FUNCTION public.prevent_duplicate_name();


--
-- Name: supplier trg_prevent_duplicate_supplier; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_prevent_duplicate_supplier BEFORE INSERT ON public.supplier FOR EACH ROW EXECUTE FUNCTION public.prevent_duplicate_name();


--
-- Name: product fk_brand; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT fk_brand FOREIGN KEY (id_brand) REFERENCES public.brand(id);


--
-- Name: product fk_category; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT fk_category FOREIGN KEY (id_category) REFERENCES public.category(id);


--
-- Name: inventory fk_lote; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT fk_lote FOREIGN KEY (id_lote) REFERENCES public.lote(id);


--
-- Name: inventory fk_stock_location; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT fk_stock_location FOREIGN KEY (id_location) REFERENCES public.location(id);


--
-- Name: inventory fk_stock_lote; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT fk_stock_lote FOREIGN KEY (id_lote) REFERENCES public.lote(id);


--
-- Name: inventory fk_stock_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT fk_stock_product FOREIGN KEY (id_product) REFERENCES public.product(id);


--
-- Name: product fk_supplier; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT fk_supplier FOREIGN KEY (id_supplier) REFERENCES public.supplier(id);


--
-- PostgreSQL database dump complete
--

\unrestrict npRDN5yhRUCkS02w92vfMaETeBDTO8dvruRMiqF6lcZv6STEri8PEDbLC4XGO1M

